:root {
  --dotSize: 30px;
  --halfDotSize: var(--dotSize) / 2;

  --topCenter: calc(50vh - var(--halfDotSize));
  --leftCenter: calc(50vw - var(--halfDotSize));
}

.counter {
  font-size: 38px;
  position: absolute;
  top: 30px;
  right: 30px;

  @media (min-width: 768px) {
    font-size: 34px;
  }
}

.dot {
  background-color: white;
  width: var(--dotSize);
  height: var(--dotSize);
  position: absolute;
  top: var(--topCenter);
  left: var(--leftCenter);
  border-radius: 50%;
}

.content {
  padding-top: 20vh;
}

.title {
  font-size: 42px;

  @media (min-width: 768px) {
    font-size: 38px;
  }
}

.subTitle {
  font-size: 24px;
  margin-top: 8px;

  & > p + p {
    padding-top: 10px;
  }
}

.timer {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
}
